{% extends 'base.html.twig' %}

{% block title %}Vidéos{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5" style="max-width: 800px">
        <div class="row">
            <div class="card p-3">
                <div class="col">
                    {{ form(videoform) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="videos_list">
            {% for video in videos %}
                {% include "video/video.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
